{
  "compact": false,
  "minified": false,
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign",
    "array-includes"
  ],
  "presets": ["@babel/preset-env"]
}
