{
  "extends": "airbnb",
  "globals": {
    "app": false,
    "Java": false,
    "resolve": false,
    "__": false
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
    }]
  }
}
